.titulo {
    background-color: #78b5e7;

}

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0px;
    color: #050505;
}

button {
    background-color: var(--cor-da-marca);
    border: none;
}
